.content {
		.address_select {
			image{
				width: 160upx;
				height: 66upx;
				margin-left: 40upx;
				margin-top: 10upx;
			}
		}
		.search_box {
			width: 380upx;
			margin-right: 40upx;
			height: 60upx;
			background-color: $main-search-bg-color;
			border-radius: 32upx;
			display: flex;
			align-items: center;
			padding: 0upx 40upx;
			.icon_search {
				background-image: url('../../../static/map_ic_search.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 29upx;
				height: 28upx;
				margin-right: 20upx;
			}
			.prompt {
				font-size: 28upx;
				color: #AAAAAA;
			}
		}

		.swiper-view {
			.swiper {
				width: 100%;
				height: 300upx;
				image {
					width: 100%;
					height: 320upx;
				}
			}
		}

		.example-title {
			display: flex;
			font-size: 36upx;
			font-weight:600;
			color:rgba(51,51,51,1);
			padding: 12px 22px;
			margin-top: 15upx;
			position: relative;
			justify-content: space-between;
			background-color: #fff;
			border-bottom: 1px #F8FAFF solid;

			image {
				width: 36upx;
				height: 36upx;
				margin-top: 4upx;
				margin-right: 20upx;
			}

			// span {
			// 	flex: 1;
			// }
			.ex-right{
				float: right;
				font-size:28upx;
				font-weight:400;
				color:rgba(153,153,153,1);
				line-height: 40upx;
			}
		}

		.zhuan-ti {
			padding: 0 50upx;
			background: #fff;
			.nav-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.zhuan-btn{
					width: 310upx;
					height: 160upx;
					margin-top: 18upx;
					border-radius: 20upx;
					p{
						padding-left: 30upx;
						color: white;
						font-size: 32upx;
					}
					.image1{
						padding-top: 10upx;
						padding-left: 25upx;
						width: 85upx;
						height: 85upx;
					}
					.image2{
						padding-top: 38upx;
						padding-left: 80upx;
						width: 130upx;
						height: 130upx;
						opacity: 0.2;
						position: absolute;
					}
					
				}
				.zhuan-btn1{
					background-color: #6dcd70;
				}
				.zhuan-btn2{
					background-color: #4d5cbc;
				}
				.zhuan-btn3{
					background-color: #c4a6fb;
				} 
				.zhuan-btn4{
					background-color: #9cddea;
				}
			}
		}
		

		.example-body {
			padding: 5upx 30upx;
			background: #fff;

			.image {
				width: 90upx;
				height: 90upx;
			}

			.text {
				font-size: 28upx;
				font-family:PingFangSC-Medium,PingFang SC;
				font-weight:500;
				color:rgba(51,51,51,1);
				margin-top: 10upx;
			}
		}

	}