.content {
		.address_select {
			image{
				width: 131upx;
				height: 56upx;
				margin-left: 40upx;
				margin-top: 16upx;
			}
		}
		.search_box {
			width: 420upx;
			margin-right: 40upx;
			/* #ifdef MP-WEIXIN */
			margin-left: 55upx;
			/* #endif */
			height: 60upx;
			background-color: $main-search-bg-color;
			border-radius: 32upx;
			display: flex;
			align-items: center;
			padding: 0upx 40upx;
			.icon_search {
				background-image: url('../../../static/map_ic_search.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 29upx;
				height: 29upx;
				margin-right: 20upx;
			}
			.prompt {
				font-size: 28upx;
				color: #AAAAAA;
			}
		}

		.swiper-view {
			background-color: #fff;
			padding: 7upx 7upx;
			.swiper {
				width: 100%;
				height: 340upx;
				image {
					border-radius: 15upx;
					width: 100%;
					height: 340upx;
				}
			}
		}

		.example-title {
			display: flex;
			font-size: 36upx;
			font-weight:600;
			color:rgba(51,51,51,1);
			padding: 12px 14px;
			margin-top: 15upx;
			position: relative;
			justify-content: space-between;
			background-color: #fff;
			border-bottom: 1px #F8FAFF solid;
			image {
				width: 36upx;
				height: 36upx;
				margin-top: 4upx;
				margin-right: 20upx;
			}
			.ex-right{
				float: right;
				font-size:28upx;
				font-weight:400;
				color:rgba(153,153,153,1);
				line-height: 40upx;
			}
		}

		.zhuan-ti {
			padding: 0 26upx;
			background: #fff;
			.nav-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-bottom: 26upx;
				.zhuan-btn{
					width: 340upx;
					height: 200upx;
					margin-top: 18upx;
					border-radius: 20upx;
					box-shadow:0px 4px 15px 0px rgba(71,149,249,0.15);
					background-color: #fff;
					display: flex;
					justify-content: space-between;
					align-items:center;
					overflow:hidden;
					.z-left{
						padding-left: 20upx;
						.left-title{
							font-size:32upx;
							font-family:JLinXin;
							color:rgba(102,102,102,1);
							line-height:40upx;
							font-weight: 600;
						}
						.left-text{
							font-size:24upx;
							line-height: 40upx;
							font-family:PingFangSC-Regular,PingFang SC;
							font-weight:400;
							color:rgba(153,153,153,1);
						}
					}
					.image1{
						padding-right: 10upx;
						width: 125upx;
						height: 130upx;
					}
				}
			}
		}
		.example-body {
			padding: 5upx 0;
			background: #fff;
			.image {
				width: 90upx;
				height: 90upx;
			}

			.text {
				font-size: 28upx;
				font-family:PingFangSC-Medium,PingFang SC;
				font-weight:500;
				color:rgba(51,51,51,1);
				margin-top: 10upx;
			}
		}
		.xun{
			border-bottom: 1px #F8FAFF solid;
		}
	}
	.order{
	   padding: 35upx 70upx 40upx 70upx;
	   font-size: 28upx;
	   display:flex;
	   background-color: #fff;
		.line {
			flex: 1;
			border-top:1px solid #eee;
			position: relative;
			top:18upx;
		}
		.txt {
		   color: #999999;
		   padding: 0 10upx;
		   vertical-align: middle;
		}
	}