.content {
		.address_select {
			image{
				width: 160upx;
				height: 66upx;
				margin-left: 40upx;
				margin-top: 10upx;
			}
		}
		.search_box {
			width: 340upx;
			margin-right: 80upx;
			height: 60upx;
			background-color: #f5f5f5;
			border-radius: 32upx;
			display: flex;
			align-items: center;
			padding: 0upx 40upx;
			.icon_search {
				background-image: url('/static/map_ic_search.png');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: cover;
				width: 29upx;
				height: 28upx;
				margin-right: 20upx;
			}
			.prompt {
				font-size: 28upx;
				color: #cccccc;
			}
		}

		.swiper-view {
			.swiper {
				width: 100%;
				height: 260upx;
				image {
					width: 100%;
					height: 280upx;
				}
			}
		}

		.example-title {
			display: flex;
			font-size: 32upx;
			color: #464e52;
			padding: 10px;
			margin-top: 3px;
			position: relative;
			background-color: #fdfdfd;
			border-bottom: 1px #f5f5f5 solid;

			image {
				width: 36upx;
				height: 36upx;
				margin-top: 4upx;
				margin-right: 20upx;
			}

			span {
				flex: 1;
			}
		}

		.zhuan-ti {
			padding: 0 50upx;
			background: #fff;
			.nav-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.zhuan-btn{
					width: 310upx;
					height: 160upx;
					margin-top: 18upx;
					border-radius: 20upx;
					p{
						padding-left: 30upx;
						color: white;
						font-size: 32upx;
					}
					.image1{
						padding-top: 10upx;
						padding-left: 25upx;
						width: 85upx;
						height: 85upx;
					}
					.image2{
						padding-top: 38upx;
						padding-left: 80upx;
						width: 130upx;
						height: 130upx;
						opacity: 0.2;
						position: absolute;
					}
					
				}
				.zhuan-btn1{
					background-color: #6dcd70;
				}
				.zhuan-btn2{
					background-color: #4d5cbc;
				}
				.zhuan-btn3{
					background-color: #c4a6fb;
				} 
				.zhuan-btn4{
					background-color: #9cddea;
				}
			}
		}
		

		.example-body {
			padding: 5upx 30upx;
			background: #fff;

			.image {
				width: 70upx;
				height: 70upx;
			}

			.text {
				font-size: 26upx;
				margin-top: 10upx;
			}
		}

	}